{% extends "LapaperieFocusBundle:Focus:form.html.twig" %}

  {% block action %}
<form action="{{ path('focus_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
  {% endblock %}

  {% block legend %}Focus - Page d'Accueil : {{ entity.title }}{% endblock %}

  {% block button %}Enregistrer les modifications{% endblock %}

  {% block delete %}
<form action="{{ path('focus_delete', { 'id': entity.id }) }}" method="post">
{{ form_widget(delete_form) }}
            <button type="submit" class="btn danger confirm">Supprimer ce Focus</button>
</form>
  {% endblock %}
