{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

<h1>Focus</h1>

<table class="records_list zebra-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Edito</th>
            <th>En ligne</th>
            <th>Date de publication</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('focus_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.text | truncate(100) }}</td>
            <td>
            {% if entity.isOnLine %}
            <img width="16" height="16" src="{{ asset('bundles/lapaperiemain/images/icons/tick.png') }}" />
            {% else %}
            <img width="16" height="16" src="{{ asset('bundles/lapaperiemain/images/icons/cancel.png') }}" />
            {% endif %}
            </td>
            <td>{{ entity.publicationDate|date('j M Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

        <a href="{{ path('focus_new') }}" class="btn primary">
        Ecrire un nouveeau Focus
        </a>
{% endblock %}
