{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

<form action="{{ path('focus_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

<fieldset>
    <legend>Nouveau Focus</legend>
    <div class="clearfix">
    {{ form_label(form.title, 'Titre') }}
    <div class="input">
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, {'attr':{'size' : '90'}}) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.text, 'Edito') }}
    <div class="input">
    {{ form_errors(form.text) }}
    {{ form_widget(form.text,  {'attr':{'cols' : '90', 'rows' : '10', 'class': 'editor'}}) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.publicationDate, 'Date de Publication') }}
    <div class="input">
    {{ form_errors(form.publicationDate) }}
    {{ form_widget(form.publicationDate, { 'attr': {'class': 'jsDate'} } ) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.isOnLine, 'Afficher en Une') }}
    <div class="input">
    {{ form_errors(form.isOnLine) }}
    {{ form_widget(form.isOnLine) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.video, 'Vidéo') }}
    <div class="input">
    {{ form_errors(form.video) }}
    {{ form_widget(form.video,  {'attr':{'cols' : '50', 'rows' : '5'}}) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.legend, 'Légende') }}
    <div class="input">
    {{ form_errors(form.legend) }}
    {{ form_widget(form.legend, {'attr':{'size' : '90'}}) }}
    </div>
    </div>

    {{ form_rest(form) }}
</fieldset>
        <button type="submit" class="btn primary">Enregistrer ce nouveau Focus</button>
        <a href="{{ path('focus') }}" class="btn">
        Retour à la liste des Focus
        </a>
</form>

{% endblock %}
