<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('bundles/lapaperiemain/css/reset.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lapaperiemain/css/prettyPhoto.css') }}" type="text/css" media="screen" charset="utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/lapaperiemain/css/style.css') }}" type="text/css" media="all" />
        {% block css %}{% endblock %}
        <!--[if IE]>
        <script type="text/javascript" src="{{ asset('bundles/lapaperiemain/js/modernizr.custom.08780.js') }}"></script>
        <![endif]-->
         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
         <script type="text/javascript" src="{{ asset('bundles/lapaperiemain/js/lapaperie.js') }}"></script>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}La Paperie - Centre National des Arts de la Rue{% endblock %}</title>
    </head>

    <body>

        {% if app.request.attributes.get('_route') == 'LapaperieMainBundle_homepage' %}
        {% include 'LapaperieMainBundle:Main:intro.html.twig' %}
        {% endif %}

        <header>
        <a href="{{ path('LapaperieMainBundle_homepage') }}" title="Retour page d'accueil">
            <img src="{{ asset('bundles/lapaperiemain/images/logonet.png') }}" class="header" alt="Logo caravane - La Paperie - Centre National des Arts de la Rue" width="72" height="50"/>
        </a>
        <div class="header">
            Centre National des Arts de la Rue<br />
            rue de La Paperie 49124 St Barthélemy d'Anjou<br />
            Tel. +33 241 660 447<br />
        </div>
        <h1 class="header">
            <a href="{{ path('LapaperieMainBundle_homepage') }}" title="Retour page d'accueil">
                <img src="{{ asset('bundles/lapaperiemain/images/titreweb.png') }}" alt="La Paperie - Centre National des Arts de la Rue" height="50"/>
            </a>
        </h1>
        <div id="social" class="header">
            <br/>
            <a href="http://twitter.com/lapaperiecnar" title="Suivez l'actualié des Arts de la Rue sur Twitter" target="_blank" >
                <img src="{{ asset('bundles/lapaperiemain/images/twitter.png') }}" width="32" height="32" alt="Twitter"/>
            </a>
            <a href="https://www.facebook.com/pages/La-Paperie/217798074907593" title="Venez rendre visite à La Paperie sur Facebook" target="_blank">
                <img src="{{ asset('bundles/lapaperiemain/images/facebook.png') }}" width="32" height="32" alt="Facebook"/>
            </a>
            <!--a href="" title="Suivre le flux RSS de La Paperie">
            <img src="{{ asset('bundles/lapaperiemain/images/rss.png') }}" width="32" height="32" alt="RSS"/>
            </a-->
            <a href="mailto:contact@lapaperie.fr" title="Nous écrire à contact@lapaperie.fr">
                <img src="{{ asset('bundles/lapaperiemain/images/mail.png') }}" width="32" height="32" alt="Mail"/>
            </a>
        </div>
        </header>
        <div id="main">
            <nav id="mainnav" class="clear">

            {% include "LapaperieMainBundle::menu.html.twig" with {"current": block('menu')} %}

            {% block sousmenu %}
            {% endblock %}

            </nav>

            <div class="dotted_line"></div>

            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <div class="dotted_line"></div>

            {% include "LapaperieMainBundle::definition.html.twig" %}

            <div class="float_right">
                <a href="{{ path('newsletter_create') }}?ajax=true&width=450&height=250" class="red_button" rel="prettyNewsletter[ajax]">Abonnez-vous aux News</a>
            </div>
        </div>

        <footer>
            <div class="content">
        {% block footer %}
        {% endblock %}
            </div>
        </footer>

         <script src="https://www.google.com/jsapi?key=ABQIAAAA3As8m9xjou7uGCjqA37IYBTuPGIAa-QdLkTp6aFCbn3S4jNSIBSYdF3OGOktrl-b4-SUTx7uEx461Q" type="text/javascript"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-16774877-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

         </script>
         <script src="{{ asset('bundles/lapaperiemain/js/jquery.prettyPhoto.js') }}" type="text/javascript" charset="utf-8"></script>
        {% block js %}{% endblock %}
     </body>
 </html>
