{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Agenda
{% endblock %}

{% block menu %}agenda{% endblock %}
{% block definition %}definition{% endblock %}

{% block sousmenu %}
{% endblock %}

{% block content %}
 <h2 class="agenda-title">Agenda</h2>
 <div class="agenda-title"><strong>{{ years }}</strong></div>

<div class="agenda-left-side">
<ul>
{% for month in calendar %}
<li class="{{ month.active }} projets">
<a href="{{ path('LapaperieAgendaBundle_home', {'month': month.order, 'year': month.year}) }}">
{{ month.name }}
</a>
{% if month.active %}
<img src="{{ asset('bundles/lapaperiemain/images/moinsque.png') }}"/>
{% endif %}
</li>
{% endfor %}
</ul>
</div>

<div class="agenda-right-side">
{% if agenda is empty %}
<ul>
<li>
En cours d'actualisation...
</li>
</ul>
{% else %}
<ul>
{% for actualite in agenda %}
<li>
{{ actualite.actualite | raw }}
</li>
{% endfor %}
</ul>
{% endif %}
</div>

<div class="home_right">
    <img src="{{ asset('bundles/lapaperiemain/images/tribune.png') | apply_filter('illustration') }}" alt="Illustration" width="300" />
</div>
<div class="clear"></div>

{% endblock %}
