{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

<h1>Agenda</h1>

<table class="records_list zebra-striped">
    <thead>
        <tr>
            <th>Actualité</th>
            <th>Date Début</th>
            <th>Date Fin</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in paginator %}
        <tr>
            <td><a href="{{ path('agenda_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.dateBeginning | date('j M Y') }}</td>
            <td>{{ entity.dateEnd | date('j M Y') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
{{ pagerfanta(paginator, 'adminView') }}
</div>

        <a href="{{ path('agenda_create') }}" class="btn primary">
        Saisir une nouvelle entrée dans l'Agenda
        </a>
{% endblock %}
