<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/lapaperieadmin/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/lapaperieadmin/css/admin.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/redmond/jquery-ui.css" type="text/css" media="all" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/lapaperieadmin/ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/i18n/jquery-ui-i18n.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/lapaperieadmin/js/bootstrap-dropdown.js') }}"></script>

        <title>{% block title %}La Paperie - Administration du site{% endblock %}</title>
    </head>

    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container">
                    <h3><a href="#">La Paperie</a></h3>
                    <ul class="nav">
                        <li class="">
                        <a href="{{ path('pages') }}">Pages</a>
                        </li>
                        <li class="">
                        <a href="{{ path('companie') }}">Companies/Résidences</a>
                        </li>

                        <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">Projets</a>
                        <ul class="dropdown-menu">
                        <li class="">
                            <a href="{{ path('actionculturelle') }}">Actions Culturelles</a>
                        </li>
                        <li class="">
                            <a href="{{ path('diffusion') }}">Diffusion/Infusion</a>
                        </li>
                        </ul>
                        </li>

                        <li class="">
                        <a href="{{ path('agenda') }}">Agenda</a>
                        </li>
                        <li class="">
                        <a href="{{ path('video') }}">Videos</a>
                        </li>
                        <li class="">
                        <a href="{{ path('newsletter') }}">Newsletter</a>
                        </li>
                    </ul>
                    <ul class="nav secondary-nav">
                        <li class="">
                        <a href="{{ path('LapaperieMainBundle_homepage') }}" target="_blank">Visiter La Paperie</a>
                        </li>
                        <li class="">
                        <a href="{{ path('logout') }}">Déconnection</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script type="text/javascript" src="{{ asset('bundles/lapaperieadmin/js/admin.js') }}"></script>
    </body>
</html>
