{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block title %}
La Paperie - Centre National des Arts de la Rue - Videos
{% endblock %}

{% block menu %}video{% endblock %}

{% block sousmenu %}
{% endblock %}

{% block content %}
<div class="content_video">
    {% for video in videos %}
    <div class="video_home" id="{{ video.id }}" >
    <a href="{{ video.src ? video.src | raw : asset('bundles/lapaperiemain/images/caravanelapaperie_original.png') }}" rel="prettyPhoto" title="{{ video.companie ? video.companie.name :video.legend }}">
    <img src="{{ video.nameThumb ?  video.getWebPath  | apply_filter('video_thumbnail') : asset('bundles/lapaperiemain/images/caravanelapaperie_original.png') | apply_filter('video_thumbnail') }}" width="125" height="94" alt='"{{ video.legend }}" <br/><em>{{ video.companie }}</em><br/> [{{ video.publicationdate|date("F Y") }}]'/>
    </a>
    </div>
    {% endfor %}
    <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}
