{% extends "LapaperieActionCulturelleBundle:Admin:form.html.twig" %}

{% block legend%}Action Culturelle :  {{ entity.title}} {% endblock %}

{% block action %}
<form action="{{ path('actionculturelle_edit', { 'id': entity.id } ) }}" method="post" {{ form_enctype(form) }}>
{% endblock %}

{% block image %}
      <div class="clearfix">
      <div class="input">
      <img src="{{ entity.getWebPath  | apply_filter('companie_thumbnail') }}" width="84"/>
      </div>
      </div>
{% endblock %}

{% block button %}Enregistrer les modifications{% endblock %}


{% block delete %}
  <div class="row">
    <div class="span5 offset12">
        <form action="{{ path('actionculturelle_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn danger confirm">Supprimer cette Action Culturelle</button>
        </form>
      </div>
      </div>
{% endblock %}
