{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

{% block action %}
{% endblock %}

    {{ form_errors(form) }}

<fieldset>
    <legend>{% block legend%}{% endblock %}</legend>

    <div class="clearfix">
    {{ form_label(form.title, 'Titre') }}
    <div class="input">
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.contenu, 'Contenu') }}
    <div class="input">
    {{ form_errors(form.contenu) }}
    {{ form_widget(form.contenu) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.video, 'Embded') }}
    <div class="input">
    {{ form_errors(form.video) }}
    {{ form_widget(form.video) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.year, 'Année de classement') }}
    <div class="input">
    {{ form_errors(form.year) }}
    {{ form_widget(form.year) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.image, 'Visuel') }}
    <div class="input">
    {{ form_errors(form.image) }}
    {{ form_widget(form.image) }}
    </div>
    </div>



    {{ form_rest(form) }}
</fieldset>
        <button type="submit" class="btn primary">{% block button %}{% endblock %}</button>

        <a href="{{ path('actionculturelle') }}" class="btn">
        Retour à la liste des Actions Culturelles
        </a>
</form>

{% block delete %}
{% endblock %}

{% endblock %}
