{% extends "LapaperieCompaniesBundle::layout.html.twig" %}

{% block content %}

<form action="{{ path('companie_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

    {{ form_errors(edit_form) }}

<fieldset>
    <legend>{{ entity.name }} / {{ entity.creation }}</legend>
    <div class="clearfix">
    {{ form_label(edit_form.name, 'Nom de la Companie') }}<br/>
    <div class="input">
    {{ form_errors(edit_form.name) }}
    {{ form_widget(edit_form.name) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(edit_form.creation, 'Création') }}<br/>
    <div class="input">
    {{ form_errors(edit_form.creation) }}
    {{ form_widget(edit_form.creation) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(edit_form.date_residence_beginning, 'Résidence débutant le :') }}<br/>
    <div class="input">
    {{ form_errors(edit_form.date_residence_beginning) }}
    {{ form_widget(edit_form.date_residence_beginning) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(edit_form.date_residence_end, 'Résidence se terminant le :') }}<br/>
    <div class="input">
    {{ form_errors(edit_form.date_residence_end) }}
    {{ form_widget(edit_form.date_residence_end) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(edit_form.date_sortie_de_fabrique, 'Sortie de fabrique le :') }}<br/>
    <div class="input">
    {{ form_errors(edit_form.date_sortie_de_fabrique) }}
    {{ form_widget(edit_form.date_sortie_de_fabrique) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(edit_form.short_text, 'Présentation') }}<br/>
    <div class="input">
    {{ form_errors(edit_form.short_text) }}
    {{ form_widget(edit_form.short_text) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(edit_form.long_text, 'Détails') }}<br/>
    <div class="input">
    {{ form_errors(edit_form.long_text) }}
    {{ form_widget(edit_form.long_text) }}
    </div>
    </div>

    {{ form_rest(edit_form) }}
</fieldset>
        <button type="submit" class="btn primary">Enregistrer les modifications</button>
</form>

<script type="text/javascript">
	CKEDITOR.replace( 'lapaperie_companiesbundle_companietype_short_text',
    {
        toolbar : 'Bibi',
    });
	CKEDITOR.replace( 'lapaperie_companiesbundle_companietype_long_text',
    {
        toolbar : 'Bibi',
    });
</script>

<div class="">

{% if entity.images %}
  {% for image in entity.images %}
    <p>
      <img src="/{{ image.getWebPath }}" width="238" height="148"/>
    </p>
  {% endfor %}
{% endif %}

</div>

<form action="{{ path('companie_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_image_form) }}>
    {{ form_errors(edit_image_form) }}
<fieldset>
    <legend>Images Associées</legend>
    <div class="clearfix">
    {{ form_label(edit_image_form.image) }}
    <div class="input">
    {{ form_errors(edit_image_form.image) }}
    {{ form_widget(edit_image_form.image) }}
    </div>
    </div>

    {{ form_rest(edit_image_form) }}
</fieldset>
        <button type="submit" class="btn primary">Ajouter une image</button>
</form>
        <form action="{{ path('companie_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn danger">Supprimer cette Companie / Résidence</button>
        </form>

        <a href="{{ path('companie') }}" class="btn">
        Retour à la liste des Companies/ Résidences
        </a>
{% endblock %}
