{% extends "LapaperieCompaniesBundle:Companie:form.html.twig" %}


  {% block action %}
    <form action="{{ path('companie_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
  {% endblock %}
  
  {% block legend %}
    {{ entity.name }} / {{ entity.creation }}
  {% endblock %}

  {% block button %}Enregistrer les modifications{% endblock %}

  {% block images %}

<div class="page-header">
<h2>Images Associées à la companie "{{ entity.name }}"</h2>
</div>

  <form action="{{ path('companie_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_image_form) }}>
    {{ form_errors(edit_image_form) }}
<fieldset>
    <div class="clearfix">
    {{ form_label(edit_image_form.image) }}
    <div class="input">
    {{ form_errors(edit_image_form.image) }}
    {{ form_widget(edit_image_form.image) }}
    </div>
    </div>

    {{ form_rest(edit_image_form) }}
        <button type="submit" class="btn primary">Ajouter l'image</button>
</fieldset>
<div class="clearfix">

{% if entity.images %}
  {% for image in entity.images %}
        <!--form action="{#{ path('imagecompanie_delete') }#}" method="post"-->
      <img src="{{ image.getWebPath  | apply_filter('companie_thumbnail') }}" width="84"/>
    {#{ form_widget(delete_image_form.id) }#}
            {#{ form_widget(image_delete_form) }#}
            <!--button type="submit" class="btn danger confirm">Supprimer l'image sélectionnée</button>
        </form-->
  {% endfor %}
<div class="clearfix"></div>
{% endif %}

</div>
</form>
  {% endblock %}

  {% block file %}

<div class="page-header">
<h2>Fichier à télécharger ou mp3</h2>
</div>

  <form action="{{ path('companie_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_file_form) }}>
{% include('LapaperieFileUploadBundle:Admin:form.html.twig') %}
</form>
<div class="clearfix"></div>

  {% endblock %}

  {% block delete %}
  <div class="row">
    <div class="span5 offset11">
      <form action="{{ path('companie_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
      <button type="submit" class="btn danger confirm">Supprimer cette Companie / Résidence</button>
      </form>
    </div>
  </div>
  {% endblock %}
