{% extends "LapaperieCompaniesBundle::layout.html.twig" %}

{% block content %}

<h1>Companies & Résidences</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Création</th>
            <th>Début de résidence</th>
            <th>Fin de résidence</th>
            <th>Sortie de Fabrique</th>
            <th>Présentation</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('companie_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.creation }}</td>
            <td>{{ entity.dateresidencebeginning|date('j M Y') }}</td>
            <td>{{ entity.dateresidenceend|date('j M Y') }}</td>
            <td>{{ entity.datesortiedefabrique|date('j M Y') }}</td>
            <td>{{ entity.shorttext | truncate(100) }}</td>
            <td>{{ entity.longtext  | truncate(150) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="button">
<a href="{{ path('companie_new') }}">
Saisir une nouvelle Companie/Résidence
</a>
</div>
{% endblock %}
