{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}


<form action="{{ path('companie_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
<fieldset>
    <legend>Nouvelle Companie</legend>
    <div class="clearfix">
    {{ form_label(form.name, 'Nom de la Companie') }}
    <div class="input">
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.creation, 'Création') }}
    <div class="input">
    {{ form_errors(form.creation) }}
    {{ form_widget(form.creation) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.date_residence_beginning, 'Résidence débutant le :') }}
    <div class="input">
    {{ form_errors(form.date_residence_beginning) }}
    {{ form_widget(form.date_residence_beginning) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.date_residence_end, 'Résidence se terminant le :') }}
    <div class="input">
    {{ form_errors(form.date_residence_end) }}
    {{ form_widget(form.date_residence_end) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.date_sortie_de_fabrique, 'Sortie de fabrique le :') }}
    <div class="input">
    {{ form_errors(form.date_sortie_de_fabrique) }}
    {{ form_widget(form.date_sortie_de_fabrique) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.short_text, 'Présentation') }}
    <div class="input">
    {{ form_errors(form.short_text) }}
    {{ form_widget(form.short_text) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.long_text, 'Détails') }}
    <div class="input">
    {{ form_errors(form.long_text) }}
    {{ form_widget(form.long_text) }}
    </div>
    </div>

    {{ form_rest(form) }}
</fieldset>
        <button type="submit" class="btn primary">Enregistrer la nouvelle Companie</button>
        <a href="{{ path('companie') }}" class="btn">
        Retour à la liste des Companies
        </a>
</form>

<script type="text/javascript">
	CKEDITOR.replace( 'lapaperie_companiesbundle_companietype_short_text',
    {
        toolbar : 'Bibi',
    });
	CKEDITOR.replace( 'lapaperie_companiesbundle_companietype_long_text',
    {
        toolbar : 'Bibi',
    });
</script>

{% endblock %}
