<div class="page_content">

{% if page.video %}
<div class="illustration_right">
{{ page.video | raw }}
</div>
{% elseif page.imageName %}
<div class="illustration_right">
    <img src="{{ page.getWebImagePath | apply_filter('action') }}" alt="Illustration {{ page.title }}" width="352" />
</div>
{% endif %}

  <div class="page">

  <h2>{{ page.title }}</h2>

    {{ page.contenu | raw }}
  </div>

</div>

<div class="clear"></div>

{% if page.link %}

{% if page.fileExtension == 'mp3' %}

<object width="289" height="28" data="{{ asset('bundles/lapaperiemain/flash/audio-player.swf') }}?audioUrl={{ page.getWebFilePath }}" type="application/x-shockwave-flash">
 
<param name="bgcolor" value="#ffffff" />
<param name="flashvars" value="playerMode=embedded" />
<param name="src" value="{{ asset('bundles/lapaperiemain/flash/audio-player.swf') }}?audioUrl=={{ page.getWebFilePath }}" />
<param name="wmode" value="window" />
<param name="quality" value="best" />
</object>

{% else %}

<a href="{{ page.getWebFilePath | raw }}" title="{{ page.fileExtension}} {{ page.fileSize // 1024 }}Ko">
{{ page.link }}
</a>
<a href="{{ page.getWebFilePath | raw }}" title="{{ page.fileExtension}} {{ page.fileSize // 1024 }}Ko">
<img src="{{ asset('bundles/lapaperiemain/images/download.png') }}" width="16">
</a>

{% endif %}

<div class="clear pb-1"></div>

{% endif %}
