{% extends "LapaperieMainBundle:Main:soutien-creation.html.twig" %}

{% block title %}
La Paperie - {{ companie.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ asset('bundles/lapaperiemain/css/prettyPhoto.css') }}" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="{{ asset('bundles/lapaperiemain/js/jquery.prettyPhoto.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}


{% block content %}

<div class="left-side">
<ul>
{% for projet in companies %}
<li class="projets">
{% if projet.id == companie.id%}
{{ projet.name }} <img src="{{ asset('bundles/lapaperiemain/images/plusque.png') }}" />
{% else %}
<a href="{{ path('projet_show', {'id':projet.id}) }}">{{ projet.name }}</a>  
<img src="{{ asset('bundles/lapaperiemain/images/moinsque.png') }}" />
{% endif %}
</li>
{% endfor %}
</ul>
</div>

<div class="right-side">
    <div class="companie-img">
    {% if companie.images.isEmpty %}
    <img src="{{  asset('bundles/lapaperiemain/images/caravanelapaperie_original.png') }}" width="143" alt="Pas d'images pour cette Companie" />
    {% else %}
  <a href="{{ companie.images[0].getWebPath | apply_filter('companie_big') }}" rel="prettyPhoto[pp_gal]" >
    <img src="{{ companie.images[0].getWebPath | apply_filter('companie') }}" alt="{{ companie.name }}" width="252" />
    </a>
    {% endif %}
    </div>

    <div class="short-text">
    {{ companie.shorttext | raw }}
    </div>
  <div class="long-text">
  {{ companie.longtext | raw }}
  </div>

<div class="gallerie_thumbnails">
  {% for image in companie.images %}
  {% if not (loop.first)  %}
  <a href="{{ image.getWebPath | apply_filter('companie_big') }}" rel="prettyPhoto[pp_gal]" >
  <img src="{{ image.getWebPath | apply_filter('companie_thumbnail') }}" alt="{{ companie.name }}" width="84" />
  </a>
  {% endif %}
  {% endfor %}
  </div>

</div>

<div class="clear"></div>

{% endblock %}
