{% extends "LapaperieMainBundle:Main:soutien-creation.html.twig" %}

{% block title %}
La Paperie - {{ companie.name }}
{% endblock %}

{% block submenu %}projets{% endblock %}

{% block content %}

<div class="left-side">
<ul>
{% for projet in companies %}
{% if projet.id == companie.id%}
<li class="projets strong">
{{ projet.name }} <img src="{{ asset('bundles/lapaperiemain/images/plusque.png') }}" />
{% else %}
<li class="projets">
<a href="{{ path('projet_show', {'slug':projet.slug}) }}">{{ projet.name }}</a>  
<img src="{{ asset('bundles/lapaperiemain/images/moinsque.png') }}" />
{% endif %}
</li>
{% endfor %}
</ul>
</div>

<div class="right-side">
    <div class="companie-img">

    {% if companie.videos.isEmpty %}
    {% if companie.images.isEmpty %}
    <img src="{{  asset('bundles/lapaperiemain/images/fondalter-252.png') }}" width="252" alt="Pas d'images pour cette Companie" />
    {% else %}
  <a href="{{ companie.images[0].getWebPath | apply_filter('companie_big') }}" rel="prettyPhoto[pp_gal]" >
    <img src="{{ companie.images[0].getWebPath | apply_filter('companie') }}" alt="{{ companie.name }}" width="252" />
    </a>
    {% endif %}

    {% else %}
    {{ companie.videos[0].embded | raw }}
    {% endif %}
    
    </div>

    <div class="short-text">
    {{ companie.shorttext | raw }}
    </div>
  <div class="long-text">
  {{ companie.longtext | raw }}
  </div>

  {% if companie.file %}
  {% set file = companie.file %}
  {% include('LapaperieFileUploadBundle:Default:index.html.twig') %}
  {% endif %}

<div class="gallerie_thumbnails">
  {% for image in companie.images %}
  {% if (not (loop.first)) or (not(companie.videos.isEmpty)) %}
  <a href="{{ image.getWebPath | apply_filter('companie_big') }}" rel="prettyPhoto[pp_gal]" >
  <img src="{{ image.getWebPath | apply_filter('companie_thumbnail') }}" alt="{{ companie.name }}" width="84" />
  </a>
  {% endif %}
  {% endfor %}
  </div>

</div>

<div class="clear"></div>

{% endblock %}
