
<ul class="subnav">
<li class="{{ 'ter' == subcurrent ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_soutiencreation_ter') }}">T.E.R.</a>
</li>
<li class="{{ 'projets' == subcurrent ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_soutiencreation_projets') }}">les projets soutenus</a>
</li>
<li class="{{ 'solliciter' == subcurrent ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_soutiencreation_solliciter') }}">solliciter une résidence</a>
</li>
</ul>
