{% extends "LapaperieVideoBundle:Video:form.html.twig" %}

{% block legend%}Vidéo{% endblock %}

{% block action %}
<form action="{{ path('video_edit', { 'id': entity.id } ) }}" method="post" {{ form_enctype(form) }}>
{% endblock %}

{% block button %}Enregistrer les modifications{% endblock %}

{% block image %}
      <div class="clearfix">
      <div class="input">
      <img src="{{ entity.getWebPath  | apply_filter('companie_thumbnail') }}" width="84"/>
      </div>
      </div>
{% endblock %}


{% block delete %}
  <div class="row">
    <div class="span5 offset11">
        <form action="{{ path('video_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn danger confirm">Supprimer cette Vidéo</button>
        </form>
      </div>
      </div>
{% endblock %}
