{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block content %}
<form action="{{ path('newsletter_unsubscribe') }}" method="post" >
    {{ form_errors(form) }}
<fieldset>
    <h2>Désinscription de la Newsletter de La Paperie</h2>
    <div class="clear">
    {{ form_label(form.email, 'Merci de saisir l\'adresse mail pour laquelle vous voulez être désabonné', { 'attr': {'class': 'no_float'} }) }} 
    <div class="">
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
    </div>
    </div>
    {{ form_rest(form) }}
<p>
        <button type="submit" class="">Pas de remord, je me désinscris</button>
</p>
</fieldset>
</form>
{% endblock %}
