
<ul id="subnav">
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_cnar' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage_cnar') }}">C.N.A.R.</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_partners' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage_partners') }}">equipe/partenaires</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_description' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage_description') }}">fiche technique du lieu</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_formation' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage_formation') }}">centre ressources/formation</a>
</li>
</ul>

