{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

<h1>Inscriptions</h1>

<table class="records_list zebra-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Inscription</th>
            <th>Confirmation</th>
            <th>Annulation</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in paginator %}
        <tr>
            <td>{{ entity.subscriber.lastname}}</td>
            <td>{{ entity.subscriber.firstname}}</td>
            <td>{{ entity.subscriber.email}}</td>
            <td>
            {{ entity.dateinscription | date('j M Y') }}
            </td>
            <td>
            {% if entity.dateconfirmation %}
            {{ entity.dateconfirmation | date('j M Y') }}
            {% endif %}
            </td>
            <td>
            {% if entity.dateunscribe %}
            {{ entity.dateunscribe | date('j M Y') }}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
{{ pagerfanta(paginator, 'adminView') }}
</div>

<p>
<a href="{{ path('newsletter_export') }}" class="btn primary">
Télécharger la liste des mails voulant recevoir la Newsletter
</a>

<a href="{{ path('newsletter_export', {'all': 1}) }}" class="btn primary">
Télécharger la liste des inscrits (y compris les désabonnés)
</a>
</p>

{% endblock %}
