{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

<h1>Inscriptions</h1>

<table class="records_list zebra-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Inscription</th>
            <th>Confirmation</th>
            <th>Annulation</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in paginator %}
        <tr>
            <td>{{ entity.lastname}}</td>
            <td>{{ entity.firstname}}</td>
            <td>{{ entity.email}}</td>
            <td>
            {% if  entity.inscriptions[0].dateinscription %}
            {{ entity.inscriptions[0].dateinscription | date('j M Y') }}
            {% endif %}
            </td>
            <td>
            {% if  entity.inscriptions[0].dateconfirmation %}
            {{ entity.inscriptions[0].dateconfirmation | date('j M Y') }}
            {% endif %}
            </td>
            <td>
            {% if  entity.inscriptions[0].dateunscribe %}
            {{ entity.inscriptions[0].dateunscribe | date('j M Y') }}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
{{ pagerfanta(paginator, 'default') }}
</div>

<a href="{{ path('newsletter_export') }}" class="btn primary">
Télécharger la liste des mails valides
</a>

<a href="{{ path('newsletter_export', {'all': 1}) }}" class="btn primary">
Télécharger la liste des inscrits
</a>

{% endblock %}
