{% extends "LapaperiePagesBundle:Admin:form.html.twig" %}

{% block legend%} {{ entity.title}} {% endblock %}

{% block action %}
<form action="{{ path('page_edit', { 'id': entity.id } ) }}" method="post" {{ form_enctype(form) }}>
{% endblock %}

{% block image %}
{% if entity.getImageName %}
      <div class="clearfix">
      <div class="input">
      <img src="{{ entity.getWebImagePath  | apply_filter('companie_thumbnail') }}" width="84"/>
      <a href="{{ path('image_page_delete', { 'id':entity.id}) }}" class="confirmimg">
      <img src="{{ asset('bundles/lapaperiemain/images/icons/cancel.png')}}" alt="Supprimer cette image">
      </a>
      </div>
      </div>
{% endif %}
{% endblock %}

{% block file_delete %}
{% if entity.fileName %}
<div class="page-header">
<h3>Fichier en ligne
<small>
{{entity.link}}
<a href="{{ path('file_page_delete', { 'id':entity.id}) }}" class="confirmfile">
<img src="{{ asset('bundles/lapaperiemain/images/icons/cancel.png')}}" alt="Supprimer ce fichier">
</a>
</small>
</h3>
</div>
<div class="clearfix"></div>
{% endif %}
{% endblock %}

{% block button %}Enregistrer les modifications{% endblock %}
