{% extends "LapaperieAdminBundle::layoutAdmin.html.twig" %}

{% block content %}

{% block action %}
{% endblock %}

<div class="page-header">
<h2>{% block legend %}{% endblock %}</h2>
</div>

    {{ form_errors(form) }}

<fieldset>

    <div class="clearfix">
    {{ form_label(form.title, 'Titre') }}
    <div class="input">
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.contenu, 'Contenu') }}
    <div class="input">
    {{ form_errors(form.contenu) }}
    {{ form_widget(form.contenu, { 'attr': {'class': 'editor'} } ) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.video, 'Embded') }}
    <div class="input">
    {{ form_errors(form.video) }}
    {{ form_widget(form.video) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.image, 'Visuel') }}
    <div class="input">
    {{ form_errors(form.image) }}
    {{ form_widget(form.image) }}
    </div>
    </div>

{% block image %}
{% endblock %}

    <div class="clearfix">
    {{ form_label(form.file, 'Fichier à télécharger (ou mp3)') }}
    <div class="input">
    {{ form_errors(form.file) }}
    {{ form_widget(form.file) }}
    </div>
    </div>
    <div class="clearfix">
    {{ form_label(form.link, 'Texte du lien du fichier') }}
    <div class="input">
    {{ form_errors(form.link) }}
    {{ form_widget(form.link) }}
    </div>
    </div>

    {{ form_rest(form) }}
</fieldset>
        <button type="submit" class="btn primary">{% block button %}{% endblock %}</button>

        <a href="{{ path('pages') }}" class="btn">
        Retour à la liste des Pages du site
        </a>
</form>

{% block delete %}
{% endblock %}

{% endblock %}
