{% if diffusions %}
<ul class="subnav">
{% for action in diffusions %}
<li class="{{ action.id == subcurrent ? 'active' : ''}}" >
<a href="{{ path('diffusion_detail', {'slug':  action.slug  }) }}">{{ action.title }}</a>
</li>
{% endfor %}
<li class="{{ 'archives' == subcurrent ? 'active' : ''}}">
<a href="{{ path('diffusion_archives') }}" title="Années précédentes">Archives</a>
</li>
</ul>
{% endif %}
