{% if diffusions %}
<ul class="subnav">
{% for action in diffusions %}
<li class="{{ action.id == subcurrent ? 'active' : ''}}" >
<a href="{{ path('diffusion_detail', {'slug':  action.slug  }) }}">{{ action.title }}</a>
</li>
{% endfor %}
</ul>
{% endif %}

{% if archives %}
<ul class="subnav">
{% for archive in archives %}
<li class="{{ archive.year == subcurrent ? 'active' : ''}}" >
<a href="{{ path('diffusion_byyear', {'year': archive.year}) }}">{{ archive.year }}</a>
</li>
{% endfor %}
</ul>
{% endif %}
