{% extends "LapaperieMainBundle:Main:diffusion-infusion.html.twig" %}

{% block submenu %}{{ year }}{% endblock %}

{% block content %}
{% for action in actionsbyyear %}
<div class="home_left">
<h2>{{ action.title }}</h2>
  <div id="focus">
    {{ action.contenu | raw }}
  </div>
</div>
<div class="home_right">
{% if action.video %}
<div id="video">
{{ action.video | raw }}
</div>
{% else %}
  <a href="{{ action.getWebPath | apply_filter('companie_big') }}" rel="prettyPhoto[pp_gal]" >
    <img src="{{ action.getWebPath | apply_filter('action') }}" alt="{{ action.name }}" width="352" />
    </a>
{% endif %}
</div>
<div class="clear"></div>
{% if loop.index != loop.length %}
<div class="dotted_line"></div>
{% endif %}
{% endfor %}
{% endblock %}
