{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block sousmenu %}
{% endblock %}

{% block content %}

<div class="home_left">
  <h2>{{ focus.title }}</h2>
  <div id="focus">
    {{ focus.text | raw }}
  </div>
</div>
<div id="home_right">
<object type="application/x-shockwave-flash" data="{{ asset('bundles/lapaperiemain/flash/RotatingLogo.swf') }}" style="width:400px;height:400px;">
<param name="base" value="{{ asset('bundles/lapaperiemain/flash/RotatingLogo.swf') }}"/>
<param name="movie" value="{{ asset('bundles/lapaperiemain/flash/RotatingLogo.swf') }}"/>
<param name="quality" value="high">
<param name="wmode" value="transparent"/>
<param name="menu" value="true"/>
</object>
</div>
<div class="clear"></div>

{% endblock %}

        {% block footer %}
<div class="clear"></div>
<div class="home_left align_right">
        <a href="{{ path('LapaperieAgendaBundle_home') }}"><h2>Agenda</h2></a>
    <ul class="agenda_home">
    {% for actualite in agenda %}
    <li>
    {{ actualite.actualite | raw }}
    </li>
    {% endfor %}
    </ul>
</div>
<div class="clear"></div>
        {% endblock %}
