{% extends "LapaperieMainBundle::layout.html.twig" %}

{% block sousmenu %}

<ul id="subnav">
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage') }}">Accueil</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_partners' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage_partners') }}">Equipe/Partenaires</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_description' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage_description') }}">Fiche Technique du lieu</a>
</li>
<li class="{{ app.request.attributes.get('_route')== 'LapaperieMainBundle_homepage_formation' ? 'active' : ''}}" >
<a href="{{ path('LapaperieMainBundle_homepage_formation') }}">Centre ressources/Formation</a>
</li>
</ul>

{% endblock %}

{% block content %}

<div id="home_left">
  <h2>{{ focus.title }}</h2>
  <div id="focus">
    {{ focus.text | raw }}
  </div>
</div>
<div id="home_right">
  <div id="video">
    {{ focus.video | raw }}
    <p>
    {{ focus.legend }}
    </p>
  </div>
</div>
<div class="clear"></div>

{% endblock %}
