{% extends "LapaperieMainBundle:Main:ressources.html.twig" %}

{% block submenu %}{{ ressource.id }}{% endblock %}

{% block content %}
<div class="page_content">

{% if ressource.video %}
<div class="illustration_right">
{{ ressource.video | raw }}
</div>
{% elseif not ressource.gallery.images.isEmpty %}
<div class="illustration_right">
  <a href="{{ ressource.gallery.images[0].getWebPath | apply_filter('companie_big') }}" rel="prettyPhoto[pp_gal]" >
    <img src="{{ ressource.gallery.images[0].getWebPath | apply_filter('action') }}" width="352" />
    </a>
  </div>
{% endif %}

  <div id="focus">
<h2>{{ ressource.title }}</h2>
    {{ ressource.contenu | raw }}
  </div>


</div>
<div class="clear"></div>

  {% if ressource.file %}
  {% set file = ressource.file %}
  {% include('LapaperieFileUploadBundle:Default:index.html.twig') %}
  {% endif %}

<div class="gallerie_thumbnails">
  {% for image in ressource.gallery.images %}
  <a href="{{ image.getWebPath | apply_filter('companie_big') }}" rel="prettyPhoto[pp_gal]" >
  <img src="{{ image.getWebPath | apply_filter('companie_thumbnail') }}" width="84" />
  </a>
  {% endfor %}
  </div>

{% endblock %}
