{% extends "LapaperieMainBundle:Main:action-culturelle.html.twig" %}

{% block submenu %}archives{% endblock %}

{% block content %}


<ul>
{% for entity in entities %}
{% if loop.index == 1 %}
<h2>{{ entity.year }}</h2>
{% elseif year != entity.year %}
</ul>
<h2>{{ entity.year }}</h2>
<ul>
{% endif %}

<li><a href="{{ path('actionculturelle_detail', {'slug':  entity.slug  }) }}" title="{{ entity.year }} {{ entity.title }}">{{ entity.title }}</a></li>

{% set year = entity.year %}
{% endfor %}
</ul>

{% endblock %}
