{% if actionsculturelles %}
<ul class="subnav">
{% for action in actionsculturelles %}
<li class="{{ action.id == subcurrent ? 'active' : ''}}" >
<a href="{{ path('actionculturelle_detail', {'slug':  action.slug  }) }}" title="">{{ action.title }}</a>
</li>
{% endfor %}
<li class="{{ 'archives' == subcurrent ? 'active' : ''}}">
<a href="{{ path('actionculturelle_archives') }}" title="Années précédentes">Archives</a>
</li>
</ul>
{% endif %}
